/* Обнуление отступов и границ для начала */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #edeef0;
}

.header {
    position: fixed;
    background-color:#507299;
    height: 45px;
    padding-top: 10px;
    width: 100%;
}

.header img {
    margin-left: 14%;
}

.content {
    display: flex;
    margin: auto;
    padding-top: 45px;
    min-height: 100vh;
    width: 1000px; /*todo*/
}

nav {
    flex: 0 0 200px;
    margin-left: 10px;
    padding: 20px 0px 20px 0px;
    font-size: 100%;
}
  
nav ul {
    list-style-type: none;
    padding-right: 10px;
    margin: 0;
}

nav ul li {
    margin-bottom: 15px;
    padding: 5px;
}

nav ul li a {    
    color:  #2e5473;
    text-decoration: none;
}

.news-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.news {
    margin: 20px 5px;
    width: 480px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.news img {
    max-width: 100%;
    height: auto;
}

.news h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.news p {
    color: black;
    text-align: justify;
}

.news hr {
    border-top: 3px solid #d0d0d0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons a {
    margin: 0;
    padding: 0;
    cursor: pointer;
    color:  #2e5473;
}

aside {
    position: fixed;
    right: 20%;
    margin-top: 20px;
}

.aside_block {
    width: 160px;
    background-color: white;
    padding: 25px 10px 15px 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 0 20px 0;
    border-radius: 5px;
}

.aside_block h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.aside_block p {
    margin-bottom: 10px;
    background-color: #e1e5eb;
}

.footer {
    background-color: white;
    color: #8d8984;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    width: 100%;
    height: 100%;
}

.content p::selection {
    background-color:  #d0d0d0;
    color: green;
}

nav li:hover {
    background-color: #e1e5eb;
}

@media (max-width: 1250px) {
    aside {
        display: none;
    }
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
        margin-left: 25px;
    }
    
    nav {
        max-height: 30px;
        width: 60%;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    nav ul  {
        width: 65%;
    }

    nav li {
        display:inline;
    }
}